$bluegrey: #2b3a42;

pre {
  padding: 8px 16px;
  background: $bluegrey url("code.png") no-repeat center center / 32px 32px;
  color: #e1e6e9;
  font-family: Menlo, Courier, monospace;
  font-size: 13px;
  line-height: 1.5;
  text-shadow: 0 1px 0 rgba(23, 31, 35, 0.5);
  border-radius: 3px;
}
